[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
tqdm = "*"
flask-wtf = "*"
psycopg2-binary = "*"
sqlacodegen = "*"
flask-sqlalchemy = "*"
dash = "*"
gunicorn = "*"
wtforms = "*"
autocorrect = "*"
setuptools = "*"
wheel = "*"
contextualspellcheck = "*"
flask-session = "*"
flask-paginate = "*"
selenium = "*"
bs4 = "*"
lingua-language-detector = "*"
apscheduler = "*"
pandas = "*"
sqlalchemy = "==2.0.30"
turbo-flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
