[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
rank-bm25 = "*"
sqlalchemy = "*"
psycopg2 = "*"
tqdm = "*"
flask-wtf = "*"
psycopg2-binary = "*"
sqlacodegen = "*"
flask-sqlalchemy = "*"
dash = "*"
gunicorn = "*"
wtforms = "*"
textblob = "*"
autocorrect = "*"
setuptools = "*"
wheel = "*"
contextualspellcheck = "*"
flask-session = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.10"
