{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="section-container-spacer text-center">
        <h2>About</h2>
      </div>
    </div>
  </div>
  <div class="row" id="aim">
    <div class="col-md-10 col-md-offset-1">
      <input type="checkbox" id="collapsible-trigger-aim" class="collapsible-trigger visually-hidden">
      <label for="collapsible-trigger-aim"><h3 class="border-line">Purpose of My-Rights / FAQ</h3></label>
      <div class="collapsible-content">
        <p>My-Rights aims to help people located within the Council of Europe's jurisdiction understand what rights of the
              European Convention of Human Rights are relevant to them.</p>
        <p>My-Rights provides the following three pathways to assist people to understand their rights:</p>
            <ul>
              <li><b>For people who do not know what their rights are</b>, they can answer the questionnaire based on their personal
              circumstance and will be shown which rights are relevant to them;</li>
              <li><b>For researchers, lawyers or social workers</b>, who know what rights are relevant and want to conduct macro or micro analysis
                on judgments; and</li>
              <li><b>For anyone</b> trying to find relevant judgments quickly can do so through the use of a sophisticated text search function</li>
            </ul>
          </ul>
        <p>Currently, the only cases in the My-Rights database are all <b>English judgments that are accessible in HTML format</b>
          from the <a href="https://hudoc.echr.coe.int/eng" target="_blank">HUDOC database.</a></p>
      </div>
    </div>
  </div>
  <div class="row" id="background">
    <div class="col-md-10 col-md-offset-1">
      <input type="checkbox" id="collapsible-trigger-background" class="collapsible-trigger visually-hidden">
      <label for="collapsible-trigger-background"><h3 class="border-line">Background to the European Convention on Human Rights / Human Rights</h3></label>
      <div class="collapsible-content">
        <p>The following information is reproduced exactly from the
          <a href="https://echr.coe.int/pages/home.aspx?p=home" target="_blank">European Court of Human Rights'</a> website or from material within this website.
        </p>
        <div id="what are human rights">
          <p class="text-center">
            <b>What are human rights</b>
          </p>
          <p>
            "States that have ratified the Convention, also known as “States Parties”, have undertaken to secure and guarantee to everyone within
            their jurisdiction, not only their nationals, the fundamental civil and political rights defined in the [The European Convention on Human Rights]."
          </p>
          <p>
            Please click the following link to see the entire <a href="https://www.echr.coe.int/Documents/Convention_ENG.pdf" target="_blank">
          European Convention on Human Rights</a>
          </p>
        </div>
        <div id="what is the convention">
          <p class="text-center">
            <b>What is the European Convention on Human Rights</b>
          </p>
          <p>
            "The European Convention on Human Rights is an international treaty under which the member States of
              the Council of Europe promise to secure fundamental civil and political rights, not only to their own citizens but also to
              everyone within their jurisdiction. The Convention, which was signed on 4 November 1950 in Rome, entered into force in 1953."
          </p>
        </div>
        <div id="who owes me">
          <p class="text-center">
            <b>Who owes me human rights:</b>
          </p>
          <p>
            "Cases can only be brought against one or more States that have ratified the Convention.
            Any applications against third States or individuals, for example, will be declared inadmissible."
          </p>
        </div>
        <div id="what should I do">
          <p class="text-center">
            <b>What should I do if someone breaches my human rights:</b>
          </p>
          <p>
            "You may lodge an application with the Court if you consider that you have personally and directly been
            the victim of a violation of the rights and guarantees set out in the Convention or its Protocols.
            The alleged violation must have been committed by one of the States bound by the Convention."
          </p>
        </div>
        <div id="who can bring a case">
          <p class="text-center">
            <b>Who can bring a case for a breach of human rights:</b>
          </p>
          <p>
            "The Convention makes a distinction between two types of application: individual applications lodged by any
            person, group of individuals, company, or NGO having a complaint about a violation of their rights, and
            inter-State applications brought by one State against another. Since the Court was established, almost all
            applications have been lodged by individuals who have brought their cases directly to the Court
            alleging one or more violations of the Convention."
          </p>
        </div>
        <div id="what is the ECtHR">
          <p class="text-center">
            <b>What is the European Court of Human Rights:</b>
          </p>
          <p>
            "The European Court of Human Rights is an international court set up in 1959. It rules on individual or
            State applications alleging violations of the civil and political rights set out in the European Convention on Human Rights.
            </br>
            Since 1998 it has sat as a full-time court and individuals can apply to it directly.
            </br>
            The Court examined hundreds of thousands applications since it was set up. Its judgments are binding on the
            countries concerned and have led governments to alter their legislation and administrative practice in a
            wide range of areas. The Court’s case-law makes the Convention a modern and powerful living instrument
            for meeting new challenges and consolidating the rule of law and democracy in Europe."
          </p>
        </div>
        <div id="hudoc">
          <p class="text-center">
            <b>Where can I find cases:</b>
          </p>
          <p>
            "The HUDOC database provides access to the case-law of the Court (Grand Chamber, Chamber and Committee judgments
            and decisions*, communicated cases, advisory opinions and legal summaries from the Case-Law Information Note),
            the European Commission of Human Rights (decisions and reports) and the Committee of Ministers (resolutions)."
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="questionnaire">
    <div class="col-md-10 col-md-offset-1">
      <input type="checkbox" id="collapsible-trigger-questionnaire" class="collapsible-trigger visually-hidden">
      <label for="collapsible-trigger-questionnaire"><h3 class="border-line">More information about the Questionnaire</h3></label>
      <div class="collapsible-content">
        <p>The Questionnaire works by linking multiple human rights articles to various factual situations.
        </br>By answering yes or no to specific factual questions, it becomes possible to identify which rights may or may not
        be relevant to you.
        </br>It is important to note, that <b>not all of the articles within the European Convention on Human Rights</b>
        are relevant to a person. These articles are therefore not shown. For example, there are many articles that deal with the
        functioning of the European Court of Human Rights such as the multiple articles relating to 'Signature and ratification' of the convention.
        </br>
          Please click the following link to see the <a href="https://www.echr.coe.int/Documents/Convention_ENG.pdf" target="_blank">
          European Convention on Human Rights</a>
        </br>If you would like to see how questions are mapped to the relevant rights, please contact lawitapps@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="row" id="data_visualisation">
    <div class="col-md-10 col-md-offset-1">
      <input type="checkbox" id="collapsible-trigger-data_visualisation" class="collapsible-trigger visually-hidden">
      <label for="collapsible-trigger-data_visualisation"><h3 class="border-line">More information about the Data Visualisation</h3></label>
      <div class="collapsible-content">
        <ul>
          <li>The Data Visualisation tab reproduces information from the Case Detail section of each case
          within the <a href="https://hudoc.echr.coe.int/eng" target="_blank">HUDOC database.</a></li>
          <li>To update the results, you must click submit.</li>
          <li>If the results do not update, it is because the selection you have chosen means that there are no further cases are mapped to that specific selection</li>
          <li>If you would like to see how questions are mapped to the rights, please contact lawitapps@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" id="text_search">
    <div class="col-md-10 col-md-offset-1">
      <input type="checkbox" id="collapsible-trigger-text_search" class="collapsible-trigger visually-hidden">
      <label for="collapsible-trigger-text_search"><h3 class="border-line">More information about the Text Search</h3></label>
      <div class="collapsible-content">
        <ul>
          <li><p>The Text Search only applies to cases in the My-Rights database that all <b>English judgments in HTML format</b>
          from the <a href="https://hudoc.echr.coe.int/eng" target="_blank">HUDOC database.</a></p></li>
          <li>The ranking system used in the search filters by both the number of times the search terms are found
          in the results compared to all other words and takes into account the length of the document</li>
          <li>The Text Search could be slow due to specific ranking algorithm used. If you would like further information
          on this ranking function, please read:  Clarke, Cormack, and Tudhope's "Relevance Ranking for One to Three Term Queries"
            in the journal "Information Processing and Management", 1999.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" id="accessibility">
    <div class="col-md-10 col-md-offset-1">
      <input type="checkbox" id="collapsible-trigger-accessibility" class="collapsible-trigger visually-hidden">
      <label for="collapsible-trigger-accessibility"><h3 class="border-line">Accessibility</h3></label>
      <div class="collapsible-content">
      <p>My-Rights aims to conform with all major common web accessibility principles, including;</p>
        <ul>
            <li>Currently, all the text in the website is written in simple and easily understood language;</li>
            <li>The color scheme is designed to be easily recognised for people with visual impairment; and</li>
            <li>The website is screen reader friendly.</li>
        </ul>
      <p>If you have any accessibility issues with this website or have recommendations please contact us at
      lawitapps@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="row" id="team">
    <div class="col-md-10 col-md-offset-1">
      <input type="checkbox" id="collapsible-trigger-team" class="collapsible-trigger visually-hidden">
      <label for="collapsible-trigger-team"><h3 class="border-line">Who we are</h3></label>
      <div class="collapsible-content">
        <ul>
          <li><b>Viraaj Akuthota</b>, founder of <a href="http://www.tshr.io">Tech Solutions for Human Rights</a>, is the primary developer, designer and creator
          of My-Rights. His background includes working; within and on international humanitarian conflicts, in development situations
          and as a domestic lawyer. The domestic legal experience includes working as a solicitor in; public interest class actions
            against the State, migration work, and as a community lawyer on behalf of First Nations, Aboriginal or discriminated populations.</li>
          <li><b>Ilka Barstch</b> has a background in international relations and public policy and lived in worked across Europe. She has work experience in German
            government and civil society organisations and currently works in a Federal Ministry. </li>
          <li><b>Julian Kath</b> was the assistant developer on the My-Rights project, however, he was the primary developer of an early project that applied graphic visualisations to
            European Court of Human Rights' judgments. His specialisation includes working on digitalisation projects in the public sector and international
            development work. Overall, he enjoys applying problem-solving and data science skills to tackle meaningful policy challenges.</li>
          <li><b>Max Eckert</b> is a data enthusiast and policy work who is passionate about evidence for the public sector and social good.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" id="definitions">
  <div class="col-md-10 col-md-offset-1">
    <input type="checkbox" id="collapsible-trigger-definitions" class="collapsible-trigger visually-hidden">
    <label for="collapsible-trigger-definitions"><h3 class="border-line">Important definitions</h3></label>
    <div class="collapsible-content">
      <p>
        The following definitions are reproduced exactly from the
          <a href="https://echr.coe.int/pages/home.aspx?p=home" target="_blank">European Court of Human Rights'</a> website:
        <ul>
          <li>The classification of <b>case importance</b>:
            <span style="display: block; text-indent:20px; margin-top:20px;">"Cases are divided into four categories, the highest level of importance being "Key Cases", followed by
            levels 1,2 and 3. The classification by levels 1,2, and 3 remains provisional until the Bureau has decided
            whether a case should appear in the Court's official (Key Cases) selection. The list of key cases selected
            by the Bureau is published on the Court's website under "Case-Law". For example, a case that was tentatively
            classified as Level 1 but ultimately selected will change to category Key cases."</span>
          </li>
          <li style="margin-top:20px">The difference between the <b>Sections</b> of the European Court of Human Rights:
              <span style="display: block; text-indent:20px; margin-top:20px;">"A Section is an administrative entity and a
                Chamber is a judicial formation of the Court
                within a given Section.
                The Court has five Sections in which
                Chambers are formed. Each Section has a
                President, a Vice-President and a number of
                other judges."</span>
          </li>
          <li style="margin-top:20px">The difference between the <b>Courts and the Chamber</b>:
              <span style="display: block; text-indent:20px; margin-top:20px;">"A Chamber is composed of the President of
              the Section to which the case was assigned,
              the “national judge” (the judge elected
              in respect of the State against which the
              application was lodged) and five other
              judges designated by the Section President
              in rotation.
              The Grand Chamber is made up of the
              Court’s President and Vice-Presidents, the
              Section Presidents and the national judge,
              together with other judges selected by
              drawing of lots. When it hears a case on
              referral, it does not include any judges who
              previously sat in the Chamber which first
              examined the case."</span>
          </li>
          <li style="margin-top:20px">The difference between a <b>Decision and a Judgment</b>:
              <span style="display: block; text-indent:20px; margin-top:20px;">"A decision is usually given by a single judge,
              a Committee or a Chamber of the Court.
              It concerns only admissibility and not the
              merits of the case. Normally, a Chamber
              examines the admissibility and merits of
              an application at the same time; it will then
              deliver a judgment."</span>
          </li>


        </ul>
    </div>
  </div>
  </div>
  <div class="row" id="disclaimer">
    <div class="col-md-10 col-md-offset-1">
      <input type="checkbox" id="collapsible-trigger-disclaimer" class="collapsible-trigger visually-hidden">
      <label for="collapsible-trigger-disclaimer"><h3 class="border-line">Disclaimer as to legal information</h3></label>
      <div class="collapsible-content">
        <p>
          The information provided on this website is for general information purposes only and is not intended to
          constitute legal advice.
        </p>
        <p>
          We do not provide legal advice or services and nothing on this website should be construed as legal advice
          or the establishment of a lawyer-client relationship. If you require legal advice, you should consult a
          qualified legal professional in your jurisdiction. The use of this website or any information contained
          herein does not create a lawyer-client or any other relationship between the user and us.
        </p>
      </div>
    </div>
  </div>
  <div class="row" id="contact">
    <div class="col-md-10 col-md-offset-1">
      <input type="checkbox" id="collapsible-trigger-contact" class="collapsible-trigger visually-hidden">
      <label for="collapsible-trigger-contact"><h3 class="border-line">Contact us</h3></label>
      <div class="collapsible-content">
        <p>
          Please email us at lawitapps@gmail.com if you have any issues with this website, would like to collobarate, or have
          suggestions for improvement.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
	// check if the URL contains a hash with the value "background"
	if (window.location.hash === "#background") {
		// simulate a click on the checkbox to open the collapsible content
		document.getElementById("collapsible-trigger-background").click();
	}
    // check if the URL contains a hash with the value "background"
	if (window.location.hash === "#collapsible-trigger-definitions") {
		// simulate a click on the checkbox to open the collapsible content
		document.getElementById("collapsible-trigger-definitions").click();
	}
</script>
{% endblock %}