{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="section-container-spacer text-center">
        <h1 class="h2">About</h1>
        <ul>
          <li>All information comes from the European Court of Human Rights</li>
          <li>If you want to report any issues email lawitapps@gmail.com</li>
          <li>No information provided in this website constitutes legal advice or should be interpretred as providing legal advice</li>
          <li>If you have any suggestions on improving the accessibility of this website please contact lawitapps@gmail.com</li>
          <li>All legal information utilised in this website belongs to the European Court of Human Rights</li>
          <li>The ranking system used in the search filters by both the number of times the search terms are found
          in the results compared to all other words and takes into account the length of the document</li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}