<div class="row">
    <div class="xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">A : TEXT SEARCH</h1>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action class="reveal-content">
                    <div class = row>
                        <div class="col-md-7">
                            <div class="form-group">
                                <form action="{{ url_for('results') }}" method="post">
                                <input type="search" id="form1" name="searched"  placeholder="Search">
                            </div>
                            <div class="form-group">
                                <input type="date" id="start_date" name="start_date">
                                <input type="date" id="end_date" name="end_date">
                            </div>
                            <div class="form-group">
                                {{ form.importance.label }}: {{ form.importance(size="1") }}
                            </div>
                            <div class="form-group">
                                {{ form.respondent.label }}: {{ form.respondent(size="1") }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>