{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="section-container-spacer text-center">
        <h1 class="h2">1 : Questionnaire Results</h1>
      </div>
    </div>
  </div>
  <div class="row">
      <ul class="inline">{{ pagination.links }}</ul>
    <h3>Results:</h3>
        {% for i in cases %}
            {% set case = cases[loop.index-1] %}
            {% set applicable_no = applicable_numbers[loop.index-1] %}
        <div class="container">
            <div class="row border">
                <div class = "col-md-11">
                    <div>{{ loop.index + (page - 1) * per_page }}</div>
                    <div class="row">
                        <div class = "col-md-12">
                            <ul id="result_list">
                                <li class="horizontal"><a href="{{case[6]}}"><b>{{case[1]}}</b>
                                        <i class="fa fa-external-link" style="margin-left: 10px;"></i></a></li>
                                <li class="horizontal">Importance Rating: <b>{{case[2]}} </b></li>
                                <li class="horizontal first">Delivered On: <b>{{case[5]}} </b></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h4><u>Judgment's Facts</u></h4>
                            {{case[3]|truncate(255,false,'...')}}
                        </div>
                        <div class="col-md-4">
                            <h4><u>Judgment's Conclusion</u></h4>
                            {{case[4]|truncate(255,false,'...')}}
                        </div>
                        <div class="col-md-4">
                            <h4><u>Number of Relevant Human Rights</u></h4>
                            <p>This case has <b>{{ applicable_no }}</b> right(s) out of a total <b>{{ total_no }}</b> that
                            could matter to you.</p>
                        </div>
                    </div>
                </div>
            </div>
        <br/>
        </div>
        {% endfor %}
        {{ pagination.links }}
  </div>
</div>
{% endblock %}