{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="section-container-spacer text-center">
        <h1 class="h2">2 : Questionnaire</h1>
      </div>
      <div>


        <turbo-frame id="message_1">
          <h1>My message title</h1>
          <p>My message content</p>
          <a href="/messages/1/edit">Edit this message</a>
        </turbo-frame>

        <turbo-frame id="comments">
          <div id="comment_1">One comment</div>
          <div id="comment_2">Two comments</div>

          <form action="/messages/comments">...</form>
        </turbo-frame>


      </div>
    </div>
  </div>
</div>



{% endblock %}