{% extends "layout.html" %}
{% block content %}
<head>
    <!-- Existing links and scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/12.1.0/jqwidgets/styles/jqx.base.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/12.1.0/jqwidgets/styles/jqx.shinyblack.css" type="text/css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/12.1.0/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/12.1.0/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/12.1.0/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/12.1.0/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/12.1.0/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/12.1.0/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/12.1.0/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/12.1.0/jqwidgets/globalization/globalize.js"></script>
</head>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">3 : Text Search</h1>
          </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="{{ url_for('results') }}" method="get" data-turbo-frame="results">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-8 col-md-offset-2 border">
                    <div class="form-group">
                        <input type="search" id="form1" name="searched" class="form-control" placeholder="{{ input_search }}">
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-4">
                                <div id='jqxcombobox_importance'></div>
                                <input type="hidden" id="hiddenImportanceLevel" name="importance_level">
                            </div>
                            <div class="col-md-4">
                                <div id='jqxcombobox_state'></div>
                                <input type="hidden" id="hiddenRespondentState" name="respondent_state">
                            </div>
                            <div class="col-md-4">
                                <div id='jqxcombobox_originating'></div>
                                <input type="hidden" id="hiddenOriginatingBody" name="originating_body">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="date-input-container">
                                    <label class="date-input-label">Date Range:</label>
                                    <div id='jqxdatetimeinput_from'></div>
                                    <input type="hidden" id="hiddenDateTimeInput_from" name="date_from" />
                                    <span style="font-weight: 500;">to</span>
                                    <div id='jqxdatetimeinput_to'></div>
                                    <input type="hidden" id="hiddenDateTimeInput_to" name="date_to" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <div class="form-inline" style="margin-top:20px">
                                        <input type="submit" id="submit" class="btn btn-default" value="Search">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <turbo-frame id="results">
        <div class="row" style="margin-top:40px;">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>The search could <b>take a few seconds</b> due to the ranking algorithm.</p>
                <p>If you would like further information on how the ranking algorithm works, please go to the <a href="{{ url_for('about') }}">About</a> page.</p>
            </div>
        </div>
    </turbo-frame>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var raw_data = {{ form.importance_level.choices|tojson }};
        var data = raw_data.map(function (item) {
            return {value: item[0], label: item[1]};
        });
        $("#jqxcombobox_importance").jqxComboBox({
            source: data,
            width: '200px',
            multiSelect: true,
            checkboxes: false,
            placeHolder: "Importance Level",
            autoDropDownHeight: true
        }).on('change', function () {
        var items = $("#jqxcombobox_importance").jqxComboBox('getSelectedItems');
        var selectedItems = items.map(item => item.value).join(',');
        $('#hiddenImportanceLevel').val(selectedItems);  // Store comma-separated values
        });
    });
    $(document).ready(function () {
        var raw_data = {{ form.respondent_state.choices|tojson }};
        var data = raw_data.map(function (item) {
            return {value: item[0], label: item[1]};
        });
        $("#jqxcombobox_state").jqxComboBox({
            source: data,
            width: '200px',
            multiSelect: true,
            checkboxes: false,
            placeHolder: "Respondent State",
            autoDropDownHeight: true
        }).on('change', function () {
        var items = $("#jqxcombobox_state").jqxComboBox('getSelectedItems');
        var selectedItems = items.map(item => item.value).join(',');
        $('#hiddenRespondentState').val(selectedItems);  // Store comma-separated values
        });
    });
    $(document).ready(function () {
        var raw_data = {{ form.originating_body.choices|tojson }};
        var data = raw_data.map(function (item) {
            return {value: item[0], label: item[1]};
        });
        $("#jqxcombobox_originating").jqxComboBox({
            source: data,
            width: '200px',
            multiSelect: true,
            checkboxes: false,
            placeHolder: "Originating Body",
            autoDropDownHeight: true
        }).on('change', function () {
        var items = $("#jqxcombobox_originating").jqxComboBox('getSelectedItems');
        var selectedItems = items.map(item => item.value).join(',');
        $('#hiddenOriginatingBody').val(selectedItems);  // Store comma-separated values
        });
    });
    $(document).ready(function () {
        $("#jqxdatetimeinput").jqxDateTimeInput({
        width: '200px',
        height: '25px',
        });
    });
    $(document).ready(function () {
    // Initialize jqxDateTimeInput for Date From
        $("#jqxdatetimeinput_from").jqxDateTimeInput({
            width: '150px',
            height: '25px',
            formatString: "yyyy-MM-dd"
        });

        $('#jqxdatetimeinput_from').on('change', function (event) {
            var date = event.args.date;
            $('#hiddenDateTimeInput_from').val(date.toISOString().slice(0, 10));  // Update hidden field
        });

        // Initialize jqxDateTimeInput for Date To
        $("#jqxdatetimeinput_to").jqxDateTimeInput({
            width: '150px',
            height: '25px',
            formatString: "yyyy-MM-dd"
        });

        $('#jqxdatetimeinput_to').on('change', function (event) {
            var date = event.args.date;
            $('#hiddenDateTimeInput_to').val(date.toISOString().slice(0, 10));  // Update hidden field
        });
    });
</script>
{% endblock %}