{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="section-container-spacer text-center">
        <h1 class="h2">3 : Text Search</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 border">
        <div class="form-group">
            <form action="{{ url_for('results') }}" method="post">
            <input type="search" id="form1" name="searched"  class="form-control"
                   placeholder="{{ input_search }}">
        </div>
        <div class = "form-inline">
            <div>
                <input type="submit" id="submit" class="btn btn-default" value="Search">
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}