  <div class="row">
    <div class="col-xs-12">
        <div class="section-container-spacer text-center">
              {% for case in cases %}
                <li>{{ case.url }}</li>
                <li>{{ case.case_title }}</li>
                <li>{{ case.importance_number }}</li>
                <li>{{ case.judgment_date }}</li>
                <li>{{ case.highlighted_text }}</li>
                <li>{{ case.facts }}</li>
                <li>{{ case.conclusion }}</li>
              {% endfor %}
        </div>
    </div>
  </div>